; .editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = false

[**.js]
node = true
braces_on_own_line = false
space_in_paren = false
space_in_empty_paren = false
space_after_conditional = false
indent_with_tabs = true


[**.html]
brace_style = expand

